<template>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        v-model="loginData.email"
        type="email"
        class="form-control"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        v-model="loginData.password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
    </div>
    <button type="button" @click="login" class="btn btn-primary">Submit</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      loginData: {
        password: "",
        email: "",
      }
    };
  },
  methods: {
    login() {
      console.log('login');
      const {password, email} = this.loginData;
      this.$store.dispatch('login', { password, email });
    }
  },
};
</script>

<style scoped>
form {
  margin: auto;
}
</style>