<template>
  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        v-model="registerData.email"
        id="email"
        type="email"
        class="form-control"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input
        v-model="registerData.firstname"
        id="firstname"
        type="text"
        class="form-control"
        placeholder="Enter firstname"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input
        v-model="registerData.lastname"
        id="lastname"
        type="text"
        class="form-control"
        placeholder="Enter lastname"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        v-model="registerData.password"
        id="password"
        type="password"
        class="form-control"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input
        v-model="registerData.confirmPassword"
        id="confirmPassword"
        type="password"
        class="form-control"
        placeholder="Confirm password"
      />
      <small v-if="registerData.password != registerData.confirmPassword">Password dont match</small>
    </div>

    <button type="button" @click="register" class="btn btn-primary">
      Submit
    </button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      registerData: {
        password: "",
        email: "",
        firstname: "",
        lastname: "",
        confirmPassword: "",
      },
    };
  },
  methods: {
    register() {
      const {password, email, firstname, lastname, confirmPassword} = this.registerData;
      this.$store.dispatch('register', {password, email, firstname, lastname, confirmPassword});
    },
  },
};
</script>

<style scoped>
form {
  margin: auto;
}
small {
  color: red;
}
</style>