 <template>
  <div id="nav">
    <h3>AgroCRM</h3>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> |
    <router-link to="/register">Register</router-link> |
    <router-link to="/login">Login</router-link>
  </div>
</template>
 
 <script>
export default {
  name: "Header",
};
</script>
 
 <style>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

h3{
  text-align: left;
}
</style>
