<template>
  <div id="app">
    <Header />
    <transition name="view" mode="out-in">
      <div class="container">
        <div class="row">
          <router-view />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Header from "./components/Header";
export default {
  components: {
    Header,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.view-enter-active,
.view-leave-active {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-out;
}
.view-enter-active {
  transition-delay: 0.3s;
}
.view-enter {
  opacity: 0;
  transform: translateY(-25px);
}
.view-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.view-leave {
  opacity: 1;
  transform: translateY(0px);
}
.view-leave-to {
  opacity: 0;
  transform: translateY(25px);
}
</style>
